
.jumbotron {
	width: 100%;
	background-color: #CC3300;
	color: #661A00;
}

#main-content {

}

#header-img {
	display:inline;
	-webkit-border-radius: 25px;
    border-radius: 5px;
}
#header-title {
	display:inline;
}
