.col-md-4 #left-nav-column {
	position: fixed;
}

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}
.jumbotron {
	width: 100%;
	background-color: #CC3300;
	color: #661A00;
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
}
#main-content {
	height: 100%;
	width: 100%;
	margin-top:220px;
}

#header-img {
	display:inline;
	-webkit-border-radius: 25px;
    border-radius: 5px;
}
#header-title {
	display:inline;
}
